<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>    
        <img src="/images/car<%= cat.number %>.jpg" alt="">
        <div><h3>Name: <%= cat.name %></h3></div>
        <div><h3>age: <%= cat.age %></h3></div>
        <div>
            <h3><%= cat.name %>'s besties</h3>
            <ul>
                <% for (var friend in cat.catFriends) { %>
                <li><%= cat.catFriends[friend] %></li>
                <% } %>
            </ul>
                
        </div>
    
</body>
</html>